* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  object-fit: cover;
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

header {
  color: #818080;
  padding: 1rem 0 1.5rem;
  box-shadow: 0px 0px 10px 0px grey;

  h1 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
  }
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;

  li a {
    color: #fff;
    background-color: #818080;
  }
}
