* {
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  object-fit: cover;
  max-width: 100%;
}

body {
  margin-bottom: 5rem;
}

hr {
  margin: 3rem 0;
}

ul {
  width: fit-content;
  .menus {
    a {
      width: 100%;
      color: #fff;
      font-size: 1.5rem;
      text-align: center;
      background: linear-gradient(
        0deg,
        rgba(42, 35, 52, 1) 0%,
        rgba(101, 83, 120, 1) 100%
      );
      padding: auto;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
    }

    &:hover ul .menu_purple {
      display: block;
    }
  }

  ul .menu_purple {
    display: none;
    color: #fff;
    font-size: 1.5rem;
    width: 100%;
    background-color: rgb(42, 35, 52);
    padding: 1rem 3rem;

    &:last-child {
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
  }
}
