* {
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  object-fit: cover;
  max-width: 100%;
}

body {
  margin-bottom: 5rem;
}

hr {
  margin: 3rem 0;
}

.menus {
  width: fit-content;
  li:first-child {
    background-color: rgb(42, 35, 52);
    height: 15vh;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    a:first-child {
      width: 100%;
      color: #fff;
      font-size: 1.5rem;
      text-align: center;
      background: linear-gradient(
        0deg,
        rgba(42, 35, 52, 1) 0%,
        rgba(101, 83, 120, 1) 100%
      );
      // padding: 1rem 3rem;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
    }

    &:hover ul li a {
      display: block;
    }
  }

  .menu_purple li a {
    display: none;
    color: #fff;
    font-size: 1.5rem;
  }
}
