* {
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  object-fit: cover;
  max-width: 100%;
}

body {
  margin-bottom: 5rem;
}

#menu {
  a {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  li {
    border-radius: 0.4rem 0.4rem 0 0;
    &:hover ul {
      max-height: 13rem;
    }
    ul {
      position: absolute;
      top: 2.1rem;
      left: 0;
      max-height: 0;
      background: linear-gradient(
        0deg,
        rgba(110, 72, 170, 1) 0%,
        rgba(157, 80, 187, 1) 100%
      );
      overflow: hidden;
      transition: 1s max-height 0.3s;
      border-radius: 0 0 0.4rem 0.4rem;
      li {
        background: transparent none;
        &:hover {
          background: rgb(157, 80, 187);
        }
      }
    }
  }
  li,
  li li {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 8rem;
    padding: 0.5rem 0;
    background-color: #9d50bb;
  }
}
