* {
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  object-fit: cover;
  max-width: 100%;
}

body {
  margin-bottom: 5rem;
}

.list_menus {
  color: #fff;
  .menus {
    position: relative;
    background: linear-gradient(
      0deg,
      rgba(42, 35, 52, 1) 0%,
      rgba(101, 83, 120, 1) 100%
    );
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    a {
      margin: 3rem;
    }

    &:hover #list1 {
      display: block;
    }

    .lists {
      background-color: rgb(32, 21, 43);
    }
    #list1 {
      display: none;
    }
  }
  // #menu1 {
  //   display: none;
  // }
}

.test {
  width: 100%;
  height: 50rem;
  background-image: url("../public/0.jpg"), url("../public/1.jpg");
  background-position: right bottom, left top;
  background-repeat: no-repeat;
}

.test2 {
  border: solid 1px;
  padding: 1rem;
  column-width: 10rem;
}
