* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-bottom: 5rem;
}

hr {
  margin: 3rem 0;
}

// selecteur1
#bloc {
  background-color: yellow;

  & > b {
    color: green;
  }

  p {
    color: blue;

    b:last-child {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .p2 {
    color: orange;

    input:first-child {
      background-color: green;
    }
  }
}

h1:first-child,
h2 {
  color: red;
}

a:first-child {
  color: gray;
  &:hover {
    text-decoration: underline;
  }
}

// selecteur2
.dl dt:not(.la_class) {
  background-color: #ffcccc;
}
.dl dd:not(#mon_id) {
  background-color: #cdffcd;
}

// selecteur3

em:last-child {
  background-color: #cdfecc;
  font-style: italic;
}

p {
  q {
    background-color: #cdfecc;
  }
  .ma_classe ~ q {
    background-color: #ffcdcd;
  }
}

// selecteur table

h1:last-child {
  text-align: center;
}

table {
  width: 30rem;
  border-collapse: collapse;
  border: solid red 2px;

  caption {
    color: #cdffcd;
  }

  tr {
    th {
      color: #fff;
      background-color: #000;
    }

    td {
      background-color: #cdffcd;
    }

    th,
    td {
      border: solid 1px;
    }
  }
}

.ul1 {
  li {
    list-style-image: url("../public/puce.png");
  }
}

.ul2 {
  li {
    list-style: url("../public/globe.jpeg");
    &::after {
      content: "exemple";
    }
  }
}

header,
nav,
aside,
footer {
  border: solid;
}

header {
  text-align: center;
}

main {
  height: 90vh;
  aside {
    width: 15rem;
    height: 100%;
  }

  .aside1 {
    float: left;
  }

  .aside2 {
    float: right;
  }
}

.ex4 {
  width: 20%;
  background-color: greenyellow;
  padding: 0.5rem;

  div {
    width: 5rem;
    float: right;
    background-color: yellow;
  }
}

.ex5 {
  position: relative;
  width: 25%;
  background-color: #457fba;
  padding: 1rem;

  div {
    padding: 1rem;
    margin-right: 7rem;
    background-color: white;
  }
  ul {
    position: absolute;
    top: 1rem;
    right: 1rem;
    line-height: 1.5rem;
    width: fit-content;
    padding: 1rem;
    background-color: #cce5ff;
  }
}

.ex6 {
  width: 25%;
  background-color: greenyellow;
  overflow: auto;
  padding-bottom: 1rem;

  p {
    padding: 1rem;
  }

  div {
    float: right;
    width: 9rem;
    background-color: yellow;
  }
}

.ex7 {
  position: relative;
  width: 25%;
  background-color: greenyellow;
  padding: 1rem;

  div {
    position: absolute;
    top: 2rem;
    right: 3rem;
    background-color: yellow;
  }
}

.ex8 {
  width: 30%;
  background-color: #457fba;
  padding: 1rem;

  ul {
    width: 100%;
    padding: 0.2rem 0;
    background-color: #ffe4cc;
    display: flex;
    justify-content: space-around;
  }

  div {
    margin: 0 auto;
    width: 95%;
    background-color: #fff;
    padding: 1rem;
  }
}

.ex9 {
  width: fit-content;
  padding: 0.5rem;
  border: dashed;

  p a::after {
    content: url("../public/puce.png");
    margin: 0 0.4rem;
  }
}

.ex10 {
  cursor: pointer;
  &:hover {
    width: 200rem;
  }
}

.map {
  position: relative;

  h1,
  h2 {
    position: absolute;
    top: 0.7rem;
    left: 0.7rem;
    color: #fff;
    background-color: #000;
    padding: 0.2rem 0.5rem;
  }

  h2 {
    top: 4rem;
  }

  .points {
    dt {
      position: absolute;
      background-color: #fff;
      padding: 0.3rem 0.6rem;
      font-weight: bold;
    }

    dd {
      position: absolute;
      color: #fff;
      background-color: #000000ae;
      padding: 0.5rem 2rem;
      border: solid 1px #000;
      a {
        color: #fff;
      }
    }

    .point1 {
      top: 17rem;
      left: 5rem;

      &:hover + .point1-explication {
        display: block;
      }
    }

    .point2 {
      top: 11rem;
      left: 14rem;

      &:hover + .point2-explication {
        display: block;
      }
    }

    .point3 {
      top: 13rem;
      left: 21rem;

      &:hover + .point3-explication {
        display: block;
      }
    }

    .point1-explication {
      display: none;
      top: 17rem;
      left: 5rem;
    }

    .point2-explication {
      display: none;
      top: 11rem;
      left: 14rem;
    }

    .point3-explication {
      display: none;
      top: 13rem;
      left: 21rem;
    }
  }
}
